body{
    background-color: gray;
    background: url(/assets/img/bright-desert.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*NAVBAR*/
.navbar {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.navbar-item{
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}
.navbar-item-1{
    border-left: solid white 1px;
    border-right: solid white 1px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    border-radius: 15px 0px 0px 15px; /*first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner*/
}
.navbar-item-2{
    border-right: solid white 1px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}
.navbar-item-3{
    border-right: solid white 1px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    border-radius: 0px 15px 15px 0px;
}

/*MAIN*/
.main-text-container{
    text-align: center;
    border-bottom: solid white 1px;
    padding-bottom: 20px;
}

/*TEXT*/
.title-text{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 28px;
    letter-spacing: 0.15rem;
    font-weight: 700;
}
.body-text{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    letter-spacing: 0.15rem;
    font-weight: 100;
}

/*ICONS*/
.contact-list{
    font-size: 24px;
}
.image-link:hover{
    cursor: pointer;
}
.image-link-wrapper, .image-link-wrapper:visited{
    color: white;
}

/*MISC*/
.inline-link{
    color: #b3d7ff;
}
.about-portrait-image{
    display: block;
    margin: auto;
    width: 35%;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*OVERRIDDEN BOOTSTRAP*/
.custom-modal-content{
    background-color: #444444 !important;
}
.custom-modal-title{
    color: white !important;
    letter-spacing: 0.15rem !important;
}

/*MOBILE*/
@media (max-width: 768px) {
    /* For mobile phones: */
    [class*="title-text"] {
        color: white;
        font-family: 'Source Sans Pro';
        font-size: 28px;
        letter-spacing: 0.10rem;
        font-weight: 700;
    }
    [class*="body-text"] {
        color: white;
        font-family: 'Source Sans Pro';
        font-size: 14px;
        letter-spacing: 0.10rem;
        font-weight: 100;
    }
}